:root {
  /* Pega todo css */
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: "Inter";
  --botao-azul-efeito: #3C92FA;
}

/*
  se a imagem fizer sentido para o usuario => usar a tag img para colocar imagem
  se a imagem for decorativa => colocar a imagem no background-image
*/

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

.principal {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  /* no-repeat => imagem nao repete na tela */
  background-size: contain;
  /* contain => preenche todo container com a imagem */
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  /* vh => pega a toda a altura da tela */
  /* vw => pega a toda a largura da tela */
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  /*
    block =>
      deixa definir a altura e a largura
      se o elemento nao tiver a largura fixa, ele pega toda a largura do container (ocupa a linha toda)
  */
  text-decoration: none;
  margin-bottom: 1em;
}

.botao_securndario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}
/*
  em => Medida relativa ao font-size do elemento (2em => 2 vezes o tamanho da fonte)
  margin: cima direita baixo esquerda; => margin: 1em 0 2em 0;
  padding: cima direita baixo esquerda; => padding: 1em 0 2em 0;
  margin: vertical horizontal; => margin: 0 6em;
  padding: vertical horizontal; => padding: 0 6em;
*/

.container__caixa {
  margin: 0 6em;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.secundario__imagem {
  width: 80%;
}

.container__descricao {
  padding: 2em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--cinza-secundario);
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none; /* Remove os discos da lista de tag li */
  margin: 5em 0;
}

.lista__item {
  font-size: 32px;
  color: var(--cinza-secundario);
}