:root {
  /* Pega todo css */
  --braco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: "Inter";
  --botao-azul-efeito: #3C92FA;
}

/*
  se a imagem fizer sentido para o usuario => usar a tag img para colocar imagem
  se a imagem for decorativa => colocar a imagem no background-image
*/

body {
  background-color: var(--cor-de-fundo);
  color: var(--braco-principal);
}

* {
  padding: 0;
  margin: 0;
}

.principal {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  /* no-repeat => imagem nao repete na tela */
  background-size: contain;
  /* contain => preenche todo container com a imagem */
}

.container {
  height: 100vh;
  /* vh => pega a toda a altura da tela */
  /* vw => pega a toda a largura da tela */
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--braco-principal);
  display: block;
  /*
    block =>
      deixa definir a altura e a largura
      se o elemento nao tiver a largura fixa, ele pega toda a largura do container (ocupa a linha toda)
  */
}

.botao_securndario {
  background-color: transparent;
  border: 2px solid var(--braco-principal);
}